body {
    font-family: -apple-system;
    margin: 0;
    background-color: rgb(255, 255, 255);
}
h1 {
    font-family: cursive;
}

p {
    font-family: cursive;
}
.header {
background: url(banner-1686944_960_720.jpg) no-repeat center; 
background-size: cover;
height: 250px;
position: relative;
padding: 30px;
text-align: center;
opacity: 1;
color: rgb(250, 250, 250);
font-size: 40px;
}
.navibar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(109, 90, 196);
}
li {
    float: left;
}

li a {
  display: block;
  color: rgb(15, 32, 27);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(153, 0, 255);
}

.active {
  background-color: #1969aa;
}